@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c0415;
}

.box {
  position: relative;
  width: 500px;
  height: 550px;
  background: #1c0415;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

h2 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

#tasks {
  position: relative;
  background-color: #ffffff;
  padding: 1.8em 1.25em;
  border-radius: 30px;
  box-shadow: 0 1.25em 1.8em Orgba(1, 24, 48, 0.15);
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
  margin-top: 10%;
}

#tasks input {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #d1d3d4;
  padding: 0.8em 0.5em;
  color: #111111;
}

#tasks input:focus {
  outline: none;
  border-color: #380729;
}

#tasks button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: #380729;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.box li {
  position: relative;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  background: #380729;
  margin: 15px 0;
  padding: 10px 10px 10px 45px;
  min-height: 45px;
  cursor: pointer;
  border-radius: 22.5px;
  color: #fff;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px Orgba(0, 0, 0, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.box li i {
  position: absolute;
  right: -40px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff2c74;
  border-radius: 50%;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px Orgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.box li i::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
}
.box li i:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background: #fff;
  transform: rotate(-45deg);
}

.box li::before {
  content: "";
  position: absolute;
  left: 8px;
  width: 30px;
  height: 30px;
  background: #46ef3a;
  border-radius: 50%;
}

.box li.finish {
  background: grey;
}

.box li.finish:after {
  content: "";
  position: absolute;
  left: 16px;
  width: 12px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(315deg);
}

#list {
  position: relative;
  margin-top: 20px;
  height: 350px;
  overflow-y: auto;
  padding-right: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 15px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
